.container1 {
    display: flex;
    align-items: center;
    justify-content: left
}
img {
    max-width:100px;
    max-height: 100px;
}
.image1 {
    flex-basis: 15%
}
.text1 {
    text-align: left;
    font-size: 15px;
    padding-left: 10px;
}
.text2{
    height: 130pt;
    font-weight: normal;
    overflow:hidden;
    line-height:1px;
    font-size: 8em;
    font-family: 'Courier New', Courier, monospace;
    text-align: left; 
}
.text3 {
    font-size: 4em;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
  }